/* Adam Rock
September 22nd, 2025
styles.css */

/* CSS Reset */
body, header, nav, main, footer, article, aside, figure, section {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: #5b5b5b;
}

/*header rules */
header {
	color: #6cc2fe;
	font-style: normal;
	font-family: Lato, sans-serif;
	text-align: center;
	font-size: 1em;
	font-weight: bold;
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../images/widetrim_background.png);
	background-size: cover;
}

h1 {
	display: block;
}
	
.headerlogo {
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/* Style Rules for mobile viewport */
.mobile p, h3 {
	text-align: center;
	color:#6cc2fe;
	font-style: normal;
	font-family: Lato, sans-serif;
	text-shadow: 4px 4px 10px #000;
}

/*Style rules to show mobile class and hide tab-desk class */
.mobile {
	display: block;
}
.tab-desk, .desktop, #navlinks {
	display: none;
}

/* nav style rules */
nav {
	background-color: #6cc2fe;
}

.mobile-nav a {
	color: #000;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	padding: 3%;
	display: block;
}

.mobile-nav a.nav-icon {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	color: #7b7b7b;
	padding: 3%;
}

.nav-icon div {
	height: 30px;
	width: 30px;
}

.link {
	text-decoration: none;
}

/* Main Content Rules */
main h1 {
	color: #6cc2fe;
	font-family: Garet, Arial, sans-serif;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
}

main h2 {
	color: #6cc2fe;
	font-family: Garet, Arial, sans-serif;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}
#homecontent p {
	text-align:center;
	font-size: 1.25em;
	color:#6cc2fe;
	font-style: normal;
	font-family: Lato, sans-serif;
}

#homecontent img {
	margin: auto;
}

section {
	font-size: 1.5em;
	text-align: center;
	color:#6cc2fe;
	font-style: normal;
	font-family: Lato, sans-serif;
	text-shadow: 4px 4px 10px #000;
	text-decoration: none;
}

aside {
	font-size: 1.5em;
	text-align: center;
	color:#6cc2fe;
	font-style: normal;
	font-family: Lato, sans-serif;
	text-shadow: 4px 4px 10px #000;
}

figure {
	border: 3px solid #7b7b7b;
	box-shadow: 6px 6px 10px #6cc2fe;
	max-width: 400px;
	margin: 2% auto;
}

figcaption {
	padding: 3%;
	border-top: 3px solid #7b7b7b;
	color: #6cc2fe;
	font-family: Lato, sans-serif;
}

.round {
	border-radius: 6px;
}

.services p {
	text-align: center;
	font-size: 1.5em;
	text-align: center;
	color:#6cc2fe;
	font-style: normal;
	font-family: Lato, sans-serif;
	text-shadow: 4px 4px 10px #000;
}

.services 

/* Style rules for form */
fieldset, input, textarea {
	margin-bottom: 2%;
}

label {
	display: block;
	color: #6cc2fe;
	text-shadow: 3px 3px 8px #000;
	font-family: Lato, sans-serif;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.3em;
	color: #6cc2fe;
	font-family: Lato, sans-serif;
	text-shadow: 3px 3px 8px #000;
}

#submit {
	margin: 0 auto;
	display: block;
	padding: 1.5%;
	background-color:#7b7b7b;
	color: #6cc2fe;
	font-size: 1.25em;
	text-shadow: 2px 2px 6px #000;
	border-radius: 15px;
}

/* footer rules */
footer p {
	text-align: center;
	font-style: normal;
	font-family: Lato, sans-serif;
	color: #6cc2fe;
}

footer a {
	text-decoration: none;
	color: #6cc2fe;
}

.social img {
	padding: 2%;
}

/* Style rules for bootstrap page */
.hero {
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(../images/widetrim_background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	height: 600px;
}

.intro {
	position: absolute;
	top: 25%;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {
	/* Tablet Viewport Show tab-desk class hide mobile */
	.tab-desk, .desktop {
		display: block;
	}
	
	.mobile, .mobile-nav {
		display: none;
	}
	
	/*Tablet Viewport Style Rules for nav*/
	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
}
	
	nav li {
		border: none;
		display: inline-block;
		font-size: 1.25em;
		font-style: normal;
		font-family: Lato, sans-serif;
	}
	
	nav li a {
		padding: 0.5em;
		display: block;
		color: #000000;
		text-decoration: none;
	}
	
	body {
		font-size: 1.1em;
	}
	
	.grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 10px;
	}
	
	aside {
		grid-column: 1 / span 2;
	}
	
	/* Tablet Viewport Style rules for form */
	form {
		width: 80%;
	}
	
	.form-grid {
		display: grid;
		grid-template-columns: auto;
		grid-gap: 20px;
	}
	
	.btn {
		grid-column: 1 / span 2;
	}
	
	/*Tablet Viewport Style rules for footer*/
	footer {
		overflow: auto;
	}
	
	.social {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
}
/*Media Query for Desktop Viewports*/
@media screen and (min-width: 1000px), print {
	/*Desktop Viewport Show tablet/desk hide mobile*/
	.desktop {
		display: block;
	}
	
	.mobile {
		display: none;
	}
	
	/*Desktop Viewport nav area*/
	nav li {
		font-size: 1.5em;
		border: none;
	}
	
	nav li a {
		padding: 0.5em 1.5em;
	}
	
	nav li a:hover {
		color: #000;
		background-color: #407498;
	}
	
	/*Desktop Viewport body / main area*/
	body {
		background: linear-gradient(to left, #28475c, #5B5B5B)
	}
	
	/*Style rules for table*/
	table {
		display: table;
		border: 1px solid #000;
		border-collapse: collapse;
		margin: 0 auto;
	}
	
	caption {
		font-size: 2em;
		font-weight: bold;
		padding: 1.5%;
		color: #6cc2fe;
		text-shadow: 4px 4px 10px #000;
	}
	
	td, th {
		border: 1px solid #000;
		padding: 1.5%;
		text-shadow: 4px 4px 10px #000;
		color: #6cc2fe;
		font-style: normal;
		font-family: Lato, sans-serif;
	}
	
	th {
		background: linear-gradient(to left, #28475c, #5B5B5B);
		font-size: 1.25em;
		color: #6cc2fe;
		text-shadow: 4px 4px 10px #000;
	}
}


/*Media Query for Print*/
@media print {
	body {
		background-color: #fff;
		color: #000;
	}
	
}